@import ../../styles/_variables

.hero
  display: flex
  height: calc( 75vh - ($header-height * 2) - ($footer-height * 2) )
  align-items: center
  justify-content: center

.wrapper
  border: 1.5px solid
  border-image: var(--hero-border)
  padding: 4em 6em 6em
  text-align: center
  .title
    font-size: 4rem
    margin: 1rem 0 0
    background: $gradient-blue-pink
    background-clip: text
    -webkit-background-clip: text
    color: rgba(0, 0, 0, .2)

  p, .subtitle
    color: var(--hero-subtitle)
