@import ../../styles/_variables

.header
  z-index: 10
  top: -10px
  text-align: center
  border-bottom: .5px var(--nav-border) solid
  position: sticky
  display: flex
  justify-content: space-between
  list-style: none
  height: $header-height

  a
    text-decoration: none

  h1
    background: $gradient-blue-pink
    background-clip: text
    -webkit-background-clip: text
    color: rgba(0, 0, 0, .2)
    line-height: $header-height
    margin: 0 2rem

.nav
  a
    margin: 0 1.25rem
    height: $header-height
    line-height: $header-height
  display: flex
  align-self: center
  font-family: $font-custom, $font-system
  font-weight: 600
  font-size: 1.15rem

  &:hover
    a:not(:hover)
      opacity: .5

.button
  display: flex
  align-items: center
  height: $header-height

  span
    height: $header-height / 2
    line-height: $header-height / 2
    display: inline-block
    border: 1px solid 
    border-radius: 10px
    padding: 0 .5em
