// light palette
$primary-light: #7a04eb
$bg-light: #fff
$fg-light: #000

// dark palette
// $primary-dark: rgb(200 66 158)
$primary-dark: rgb(114 213 213)
$bg-dark: rgb(0 37 45)
$fg-dark: #fff

=dark
  @media (prefers-color-scheme: dark)
    @content

