// font
$font-custom: Nunito
$font-system: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
$header-font: $font-custom, $font-system

// TODO: set monospace font stack for code snippets

// light palette
$primary-light: #de004e
$bg-light: #fff
$fg-light: #000
$link-color-light: #666

// dark palette
// $primary-dark: rgb(200 66 158)
$primary-dark: rgb(114 213 213)
$bg-dark: rgb(0 37 45)
$fg-dark: #fff
$link-color-dark: rgb(255 124 231)

=dark
  @media (prefers-color-scheme: dark)
    @content

