@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400&family=Noto+Serif+TC:wght@400&display=swap');
@import "_variables.sass";

:root {
  --body-bg: #{$bg-light};
  --body-fg: #{$fg-light};
  --primary: #{$primary-light};
  --link-color: #{$link-color-light};
  --nav-border: #{$nav-border-light};
  --hero-border: #{$hero-border-light};
  --hero-subtitle: #{$hero-subtitle-light};
  --box-shadow: #{$box-shadow-light};

  @include dark {
    --body-bg: #{$bg-dark};
    --body-fg: #{$fg-dark};
    --primary: #{$primary-dark};
    --link-color: #{$link-color-dark};
    --nav-border: #{$nav-border-dark};
    --hero-border: #{$hero-border-dark};
    --hero-subtitle: #{$hero-subtitle-dark};
    --box-shadow: #{$box-shadow-dark};
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--body-bg);
  color: var(--body-fg);
  font-family: $font-system;
}

h1,h2, h3, h4, h5, h6 {
  font-family: $header-font;
  color: var(--primary);
  font-weight: 700;
}

a {
  color: var(--link-color);
}

* {
  box-sizing: border-box;
}

