@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import "_variables.sass";

:root {
  --body-bg: #{$bg-light};
  --body-fg: #{$fg-light};
  --primary: #{$primary-light};

  @include dark {
    --body-bg: #{$bg-dark};
    --body-fg: #{$fg-dark};
    --primary: #{$primary-dark};
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--body-bg);
  color: var(--body-fg);
  font-family: $font-system;
}

h1,h2, h3, h4, h5, h6 {
  font-family: $header-font;
  color: var(--primary);
  font-weight: 700;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

